BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Always
AccessModifierOffset: -4

BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

AlignAfterOpenBracket: DontAlign

BreakBeforeBraces: Allman
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  BeforeCatch: true
  IndentBraces: false

AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false

NamespaceIndentation: None
IndentCaseLabels: false

PointerAlignment: Left
ReferenceAlignment: Left

ColumnLimit: 1000
PenaltyBreakBeforeFirstCallParameter: 1000

SortIncludes: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpaceAfterCStyleCast: true

Cpp11BracedListStyle: true
